/* Header CSS */

.head{
    height:100px ;
    width:99%;
    border: 1px outset black;
    top:sticky-fixed;
    position: fixed;
    top: 0;
    background-color: black;
}

.logo{
    height:100px ;
    width:150px ;
    border-radius: 60px;
    margin-left: 10px;
}

.navbar{
    margin-top: -80px;
    margin-left: 300px;   
}

.navbar a{
    padding-left: 80px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

/* Dropdown */
li{
    float: left;
}

ul li{
    list-style: none;
    padding-left: 20px;

}

.navgal{
    margin-left: 120px;
}

.navcon{
    margin-left: -50px;
}
.dropdown-cont{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px gray;
    margin-top: 30px;
    
}

.dropdown-cont a{
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 15px;
    background: none;
}

.dropbtn{
    margin-left: -40px;
    position: absolute;
    margin-top:-1px;
}

.dropdown:hover .dropdown-cont{
    display: block;
}

li a:hover, .dropdown:hover .dropbtn{

    text-decoration: underline;
    color: goldenrod;

}
/* end Dropdown */

.Booking{
    height: 35px;
    width: 115px;
    margin-left: 280px;
    position: absolute;
    margin-top: -5px;
    border-radius: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
} 

.Booking a{
    color: black;
    font-size: 18px;
    padding-left: 5px;
}

/* Header CSS end */


/* Main Container (Img) CSS */

.img1{
    height: 600px;
    width: 50%;
    margin-top: 100px;
}

.img2{
    height: 600px;
    width: 49%;
    float: right;
    margin-top: 100px;
}

.contentDiv{
    height:400px ;
    width:100% ;
    border: 1px outset black;

}

.Column1{
    width: 24%;
    height:400px ;
    border: 1px outset black;
}

li{
    list-style-type: circle;
}

.Column2{
    width: 25%;
    height:400px ;
    margin-left: 340px;
    margin-top: -402px;
    
    border: 1px outset black;
}

.Column3{
    width: 25%;
    height:400px ;
    margin-left: 703px;
    margin-top: -402px;
    
    border: 1px outset black;
}



.Column4{
    width: 25%;
    height:400px ;
    margin-left: 1065px;
    margin-top: -402px;
    
    border: 1px outset red;
}

ul li{
    list-style-type: circle;

}

.C2{
  position: absolute;
    margin-top: 0px;
    
}
.C2 li{
    list-style-type: circle;
}

.C3{
    position: absolute;
    margin-top: 0px;

}

.C4{
    position: absolute;
    margin-top: 0px;

}

h1{
   margin-left: 40px;
}


/* 3RD PARA IMAGES CSS */

.img3{
    height: 600px;
    width: 50%;
}

.img4{
    height: 600px;
    width: 49%;
    float: right;
}


/* 3RD PARA Content CSS */


.contentDiv2{
    height:300px ;
    width:100% ;
    border: 1px outset black;

}

.Column5{
    width: 33%;
    height:300px ;
    border: 1px outset black;
    font-family:Arial, Helvetica, sans-serif ;
}

li{
    list-style-type: circle;
}

.Column6{
    width: 33%;
    height:300px ;
    margin-left: 471px;
    margin-top: -302px;
    border: 1px outset black;
    font-family: Arial, Helvetica, sans-serif;
}

.Column7{
    width: 33%;
    height:300px ;
    margin-left: 950px;
    margin-top: -302px;
    border: 1px outset red;
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    list-style-type: circle;
    font-size: 20px;

}

.C6{
  position: absolute;
    margin-top: 5px;
    
}
.C6 li{
    list-style-type: circle;
}


.C7{
    position: absolute;
    margin-top: 0px;

}

h1{
   
   margin-left: 40px;
}


/* Brand Icons */


.BrandIconDiv{
    height:550px ;
    width:100%;
    border: 1px outset black;

}

.BrandDiv1{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left: 160px;
}

.BrandDiv2{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left: 440px;
    margin-top: -200px;

}

.BrandDiv3{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left: 720px;
    margin-top: -200px;

}

.BrandDiv4{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left: 1005px;
    margin-top: -200px;

}
.Brandimg1{

height:200px ;
width:250px ;
border-radius: 20px;

}

.BrandDiv5{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left:160px;
    margin-top: 30px;

}

.BrandDiv6{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left: 440px;
    margin-top: -200px;

}

.BrandDiv7{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left: 720px;
    margin-top: -200px;

}


.BrandDiv8{
    height:200px ;
    width:250px ;
    border: 1px outset black;
    border-radius: 10px;
    margin-left: 1005px;
    margin-top: -200px;

}


/* ========== Footer ========= */

.footer{
    height: 400px;
    width: 100%;
    background-color: black;
    margin-top: -15px;
}
.ab{
    height: 300px;
    width: 500px;
    margin-left: 20px;
    margin-top: 40px;
    padding-top: 5px;
}
.con{
    height: 300px;
    width: 300px;
    margin-top: -300px;
    margin-left: 550px;
}
.se{
    height: 300px;
    width: 180px;
    margin-top: -300px;
    margin-left: 880px;
}
.qu{
    height: 300px;
    width: 200px;
    margin-top: -300px;
    margin-left: 1090px;
}
.one{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    color: white;
}
.pp{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 30px;
    line-height: 25px;
    color: white;
}
.two{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.t1{
    height: 30px;
    width: 30px;
    margin-left: 28px;
    margin-top: 10px;
    border-radius:10px;
}
.ppp{
    margin-left: 65px;
    margin-top: -28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;

}
.t2{
    height: 28px;
    width: 28px;
    margin-left: 29px;
    border-radius: 5px;
}
.pppp{
    margin-left: 65px;
    margin-top: -28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}
.t3{
    height: 30px;
    width: 30px;
    margin-left: 28px;
}
.ppppp{
    margin-left: 65px;
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

.fa{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    border-radius: 5px;
}
.in{
    height: 33px;
    width: 33px;
    margin-left: 15px;
    border-radius: 12px;
    margin-top: -18px;
}
.instad{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -15px;
}
.three{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: -20px;
    color: white;
}
.a{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}

.d{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.e2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.f1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.four{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    padding-left: 35px;
    margin-top: -20px;
    border: 3px outset rgb(196, 66, 66);
    color: white;
}
.a1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.a2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.a3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    color: white;
}
.a4{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: white;
}

.a5{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    color: white;
}

.a6{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.a7{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    color: white;
}












