/* Header CSS */

.head{
    height:100px ;
    width:99%;
    border: 1px outset black;
    top:sticky-fixed;
    position: fixed;
    top: 0;
    background-color: black;
}

.logo{
    height:100px ;
    width:150px ;
    border-radius: 60px;
    margin-left: 10px;
}

.navbar{
    margin-top: -80px;
    margin-left: 300px;   
}

.navbar a{
    padding-left: 80px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

/* Dropdown */
li{
    float: left;
}

ul li{
    list-style: none;
    padding-left: 20px;

}

.navgal{
    margin-left: 120px;
}

.navcon{
    margin-left: -50px;
}
.dropdown-cont{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px gray;
    margin-top: 30px;
    
}

.dropdown-cont a{
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 15px;
    background: none;
}

.dropbtn{
    margin-left: -40px;
    position: absolute;
    margin-top:-1px;
}

.dropdown:hover .dropdown-cont{
    display: block;
}

li a:hover, .dropdown:hover .dropbtn{

    text-decoration: underline;
    color: goldenrod;

}

/* end Dropdown */



 .Booking{
    height: 35px;
    width: 115px;
    margin-left: 280px;
    position: absolute;
    margin-top: -5px;
    border-radius: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
} 

.Booking a{
    color: black;
    font-size: 18px;
    padding-left: 5px;
}

/* Header CSS End */

.womenred{
    height: 600px;
    width: 100%;
    margin-top: 110px;
    background: rgb(109, 96, 80);

}

.textonimage{
    margin-top: -550px;
    font-size: 80px;
    font-style:italic;
    color: white;
    margin-left: 50px;
    
}

/* slide bar */

#my a{
    position: absolute;
    left: -120px;
    transition:0.3s;
    padding-top: 25px;
    padding-left: 20px;
    width:170px;
    height: 50px;
text-decoration: none;
font-size:25px ;
font-family: Arial, Helvetica, sans-serif;
color:white ;
border-radius: 0 5px 5px 0;
}

#my a:hover{
    left:10px;
}

#Newc{
    top: 600px;
    background-color: black;
}

#Newc1{
    top: 500px;
    background-color: red;
}

#SocialMediaIcon a {
    margin-top: -280px;
    margin-left: 1310px;
    position: absolute;    
}

.fbook{
    height: 45px;
    width: 45px;
    margin-left: 40px;
    margin-top: 20px;
    position: absolute;
    border-radius: 10px;

}

.insta{
    height: 45px;
    width: 45px;
    margin-left: 40px;
    margin-top: 80px;
    position: absolute;
    border-radius: 5px;

}

.e-mail{

    height: 45px;
    width: 45px;
    margin-left: 40px;
    margin-top: 140px;
    position: absolute;
    border-radius: 5px;

}

.contact{

    height: 45px;
    width: 45px;
    margin-left: 40px;
    margin-top: 200px;
    position: absolute;
    border-radius: 5px;

}

.main{

    height:600px ;
    width:100%;
    border: 1px outset black;
    margin-top: 5px;

}

img{
    height:600px ;
    width:700px;    

}

.eyemakeup{
    height: 200px;
    width: 200px;
    margin-left: 510px;
    border-radius: 50px;
}

.detail1{
    margin-left: 900px;
}

.detail21{
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 50px;
   padding-left: 100px;
}

.marque{
    height: 220px;
    width: 100%;
    border: 1px outset black;
    
    
}

.m1{    
    height:200px ;
    width:270px ;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
   
}

.m2{
    height:200px ;
    width:270px ;
    margin-left: 20px;
    border-radius: 10px;
}

.m3{
    height:200px ;
    width:270px ;
    margin-left: 20px;
    margin-right:10px ;
    border-radius: 10px;
}

.m4{
    height:200px ;
    width:270px ;
    margin-left: 10px;
    border-radius: 20px;
}

.m5{
    height:200px ;
    width:270px ;
    margin-left: 20px;
    border-radius: 10px;
}

.makeupdiv{
    height:600px ;
    width: 100%;
    border: 1px outset black;

}

.makeup{
    height:600px ;
    width:720px;
    float: right;
    margin-top: -510px;
    

}

/* =======FOOTER========== */

.footer{
    height: 400px;
    width: 100%;
    background-color: black;
    margin-top: -15px;
}
.ab{
    height: 300px;
    width: 500px;
    margin-left: 20px;
    margin-top: 40px;
    padding-top: 5px;
}
.con{
    height: 300px;
    width: 300px;
    margin-top: -300px;
    margin-left: 550px;
}
.se{
    height: 300px;
    width: 180px;
    margin-top: -300px;
    margin-left: 880px;
}
.qu{
    height: 300px;
    width: 200px;
    margin-top: -300px;
    margin-left: 1090px;
}
.one{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    color: white;
}
.pp{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 30px;
    line-height: 25px;
    color: white;
}
.two{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.t1{
    height: 30px;
    width: 30px;
    margin-left: 28px;
    margin-top: 10px;
    border-radius:10px;
}
.ppp{
    margin-left: 65px;
    margin-top: -28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;

}
.t2{
    height: 28px;
    width: 28px;
    margin-left: 29px;
    border-radius: 5px;
}
.pppp{
    margin-left: 65px;
    margin-top: -28px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}
.t3{
    height: 30px;
    width: 30px;
    margin-left: 28px;
}
.ppppp{
    margin-left: 65px;
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: white;
}

.fa{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    border-radius: 5px;
}
.in{
    height: 33px;
    width: 33px;
    margin-left: 15px;
    border-radius: 12px;
    margin-top: -18px;
}
.instad{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -15px;
}
.three{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-top: -20px;
    color: white;
}
.a{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}

.d{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.e2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.f1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.four{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    padding-left: 35px;
    margin-top: -20px;
    border: 3px outset rgb(196, 66, 66);
    color: white;
}
.a1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.a2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.a3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    color: white;
}
.a4{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: white;
}

.a5{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    color: white;
}

.a6{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    color: white;
}
.a7{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    color: white;
}
